.wrapper.row2
  #container.clear

    %section#fof.clear

      .hgroup.clear
        %h1 404
        %h2
          Error !
          %span Page Not Found
      %p For Some Reason The Page You Requested Could Not Be Found On Our Server
      %p
        = link_to "« Go Home", root_path